@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

li{
    list-style-type: none;    
    }
   
a {
    text-decoration: none;
    position: relative;
}

.nav__container {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    width: 100px;
    height: 100px;
 }

.logo__text {
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
}

.fortune__img {
    width: 600px;
    height: 100px;
}

.nav__links {
    display: flex;
    gap: 32px;
}

.nav__link { 
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #243e63;
    }

.nav__link:hover {
    color: #6415ff;
}

.nav__link--margin {
    margin-left: 48px;
}

.nav__link--primary {
    background-color: #6415ff;
    color: #fff;
    border-radius: 99px;
    padding: 12px 32px;
}

.nav__link--primary:hover {
    background-color: #4108b4;
    text-decoration: none;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    background-color: #6415ff;
    height: 2px;
    bottom: -3px;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.purple {
    color: #7342d6;
    }

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


nav {
height: 80px;
display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

p {
line-height: 1.5;
}

ul { 
display: flex; 
}
 


.nav__link:hover {
    text-decoration: underline;
    color: #7342d6 ;
}


.header__container {
    padding-top: 100px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100;
    display: flex;
    align-items: center;

    }

.header__img--wrapper {
    height: 600px;
    max-width: 50%;
    margin-right: 20px;
}

.header__p {
    max-width: 50%;
}

.title {
    font-size: 50px;
    color: black;
    margin-bottom: 24px;
    text-align: left;
}

.description {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: left;
    font-weight: lighter;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
} 


.gray {
    color: gray;
}

.container {
padding: 56px 0;
}

.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

.red {
    color: red;
}

.green {
    color: rgb(12, 238, 12);
}

.yellow {
    color: yellow;
}

.btn__green{
background-color:rgb(57, 196, 154);
color: white;
padding: 12px 24px;
border-radius: 20px;
border: none;
}

.btn__white{
    background-color:white;
    color:blue;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    }
    
 .btn__red{
    background-color: red;
    color: white;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
      }

.btn__gray{
    background-color: rgb(240, 236, 236);
    color: blue;
    padding: 12px 24px;
    border-radius: 50px;
    border: none;
     } 

.btn__orange{
  background-color: orangered;
  color: white;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
     }



/*

Highlights

*/

#highlights:after

.highlight__wrapper {
    display: flex;

}

.highlight {
   padding: 0 24px;
   width: calc(100% / 3);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column; 
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

.highlight__img {
    border:  2px solid gainsboro;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}

.computer__img {
   max-height: 580px; 
   max-width: 580px;
   display: flex;
   flex-direction: row;
   justify-content: right;
}

.img__customer {
width: 5%;
transform: scale(1.5);
padding-top: 8px;
}

.img__logo {
    max-height: 100px; 
    max-width: 100px;
}

.footer__btn {
    display: flex;
    flex-direction: column;
}